.App {
}

.App .ant-tabs-top > .ant-tabs-nav {
  margin: unset;
}

.App .ant-tabs-card .ant-tabs-tab {
  background-color: transparent;
  border-color: transparent;
}

.App .ant-tabs-card .ant-tabs-tab-active {
  background-color: white;
  border-color: white;
}

.App .ant-tabs-card .ant-tabs-content {
  background-color: white;
  padding: 24px;
}